.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(205, 211, 212);
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Set the background color of the whole webpage to grey */


/* Style for NavBar */


/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .App {
    font-size: 14px;
  }

  .SideBar {
    width: 100%;
  }

  .Analytics,
  .Graphs,
  .Orders {
    width: 100%;
  }
}